{% extends 'base.html' %}

{% block title %}Главная страница {% endblock %}
{% block content %}
    <main class="main">
        <div id="main-content" class="container mb-10">
            <h1 class="title">Welcome to my web app</h1>
            <p class="text">News will be here. And now i need to write more text because it's needed for good view, when you open the site. So... How are you doing? Well, I just past here some text. gruihgirug eif eo neo eun ouen gouen ogneu gneou ngeoun geoun geoung eoun guoen. And if you want to read more news, you can go to yandex dzen  </p>
            <a href="https://dzen.ru/news?issue_tld=kz" class="primary-button">Read</a>
        </div>
        <div class="container">
            <h2 class="title">Last news</h2>
            {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    <h3>{{ post.title }}</h3>
                    <h4>{{ post.postDate}}</h4>
                    <p>{{ post.content|truncatewords:12 }}</p>
                    <a href="{% url 'postDetail' pk=post.pk %}" class="primary-button">Read</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}